%body
  .flash-box
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name
            = current_user.name
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              = link_to new_group_path do
                %i.fa.fa-edit
            %li.side-header__box__menu__edit-user
              = link_to edit_user_path(current_user) do
                %i.fa.fa-cog
      .groups
        - current_user.groups.each do |group|
          .group
            = link_to group_messages_path(group) do
              .group__group-name
                = group.name
              .group__latest-message
                = group.show_last_message
    .chat-main
      .main-header
        .main-header__left-box
          %h2.main-header__left-box__current-group
            = @group.name
          %ul.main-header__left-box__member-list
            Member：
            %li.main-header__left-box__member-list__member
              - @group.users.each do |group|
                = group.name
            -# %li.main-header__left-box__member-list__member 菅谷翼
        = link_to edit_group_path(@group) do
          .main-header__edit-btn Edit
      .messages
        = render @messages
      .form
        = form_for [@group, @message] do |f|
          .input-box
            = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
            = f.label :image, class: 'input-box__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'input-box__image__file'
            = f.submit 'Send', class: 'submit-btn'

